body{

	background-color: white;
	margin: 8px;
}
header{
	background-color:  rgb(12, 124, 124);
	
}
.navbar{
	background-color:rgb(24, 29, 29);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	
}
.navbar a {
	text-decoration: none;
	font-size: 2rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	padding: 1rem;
	margin-right: 1rem;
}
.navbar ul{
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 5rem;

}
.navbar h1{
	font-size: 5rem;
	font-weight: bold;
	font-family: 'Lobster Two', cursive;
	padding-left: 5rem;
	color: wheat;
	border-bottom: 2px solid wheat;

}
.parallax h2{
	font-size: 5rem;
	font-family: Georgia, 'Times New Roman', Times, serif
	;
	padding-left: 3rem;
	padding-top: 2rem;
	
	display: block;}

	
	.parallax{
		background-image: url(../img/pier-407252_1920.jpg);
		height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Cinzel', serif;
    padding-top: 100px;
	padding-left: 40px;
	
	}
	.parallax2{
		background-image: url(../img/frozen-201495_1920.jpg);
		height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Cinzel', serif;
    padding-top: 100px;
	padding-left: 40px;
	overflow: hidden;
	text-overflow: clip;
	}
	footer p{
		text-align: center;
		font-weight: bold;
	
		
	}
	body{
		background-color:rgb(24, 29, 29);
	}
	#caca{
		color: wheat;

	}
	p{
		color:white ; 
	}
	.parallax2 h2{
		font-size: 3.2rem;
		font-weight: bold;
		font-family: 'Fugaz One', cursive;
		overflow: hidden;
		padding-left: 2rem;
	}
	/* contact */

	#contact {
		background-color: rgb(24, 29, 29);
	}
	#contact .form{
		flex: 60%;
		
		padding: 20px;
		
		
		
		
		
	
	}
	#contact .contactme{
		display: flex;
		flex-flow: column;
		text-align: center;
		
		page-break-after: always;
		background-image: url(/img/close-up-of-wooden-plank-326311.jpg);
		height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Cinzel', serif;
    padding-top: 100px;
	padding-left: 40px;
	overflow: hidden;
	text-overflow: clip;
	}

	

		
		
	
	#contact .contactme h1{
		font-size: 6rem;
		color: rgb(201, 195, 188);
		font-weight: bold;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		
	}
	img{
		width:500px;
		height: 500px;
		border-radius: 50%;

	}
	#contact .contactrow{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 5rem 3rem;
		background-color: rgb(227, 231, 236);
		margin: 3rem;
		border-radius: 15px;
		box-shadow: rgb(167, 93, 93);
	}
	#contact .contactrow p{
		color: black;
		font-size: 25px;
		font-weight: bold;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		
	}
	#contact #contacticon{
		font-size: 40px;
		padding: 20px;
		text-align: center;
		
	}
	#contact #contacttext{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
	}
  #contact .contactrow a{
	  font-size: 4rem;
	  color: black;
	  
	  
  }
  #contact footer p{
	  padding-top: 0.5rem;
	  color: rgb(243, 235, 235);
	  border-top: 1px solid rgb(243, 235, 235);
  }
  #contact .formplace{
	  display: flex;
	  justify-content: center;
	  
	  background-image: url(/img/person-on-a-bridge-near-a-lake-747964.jpg);
	  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  
  padding-top: 100px;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: clip;}
  
   form {
	  width: 600px;
	  height: 500px;
	  
	  border-radius: 10px;
	  box-shadow: black ;
	  padding: 20px 0 20px 0;
	  margin: 20px 0 20px 0;
	  display: flex;
	  flex-flow: column;
	  
	  
  }
  form h2{
	  font-size: 50px;
	  text-align: center;
	  border-bottom: 1px solid black;
	  margin: 0 2px 0 2px;
	  font-weight: bold;
	  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
   label{
	  font-size: 30px;
	  padding: 10px;
	  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	  text-align: justify;
	  font-weight: bolder;
	  

  }
  input{
	  border: none;
	  border-radius: 5px;
	  font-size: 20px;
	  background-color: rgb(196, 184, 184);
	  margin-left: 10px;
	  border-bottom: 1px solid black;
	  padding-left: 10px;
	  
  }
  textarea{
	  width: 500px;
	  height: 300px;
	  margin-left: 60px;
	  border: none;
	  border-radius: 10px;
	  

  }
  #button{
	background-color: rgb(150, 115, 40);
	font-size: 35px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	margin: 10px 20px 10px 20px;
	  
  }
  
  



  


  
  
  
 
  
  

	
	
	
 
	




