
*{
    box-sizing: border-box;
    
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-items: center;
    background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#2305A8);
    width: 100vw;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}


#navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    z-index: 99;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color:rgba(62, 58, 93, 0.89);
    
}
#navbar ul{
    display: flex;
    padding-right: 10px;
    
}
#navbar li{
    list-style-type: none;
    

}
#navbar a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding:25px;
    
}
#navbar a:hover{
    font-weight: bold;
    color: rgb(58, 156, 156);
}
#welcome-section{
    display: flex;
    flex-flow: column ;
    justify-content:center;
    align-items: center;
    font-size: 50px;
    height: 100vh;
    color: #fff;
   /* background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#2305A8);*/
    width: 100vw;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;

}
@keyframes change {
0%{background-position: 0 50%;}

50%{background-position: 100% 50%;}
100%{background-position: 0;}





}
#welcome-section h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
}
#welcome-section h2{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-top: 0;
    
}
#projects h1{
    font-size: 40px;
    padding-bottom: 25px;
    
    color: white;
}
#projects{
    border-top: 2px solid white;
    text-align: center;
    width: 100vw;
   /* background-color: rgb(69, 86, 125);*/
}
img{width: 470px;
height: 400px;}
.projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
}
.project-tile{
    margin: 10px;
    background-color: rgba(90, 74, 74, 0.534);
    
    
   
    
}

p{color: white;
    text-decoration: none;
    font-size: 20px;
}


.project-tile a{
    text-decoration: none;
    
}
.project-tile a:hover{
    background-color: dimgrey;
    opacity: 0.7;
    
}
#contact{
    border-top: 2px solid white;
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    align-items: center;
   /* background-color: rgb(48, 56, 65);*/
    width: 100vw;
    height: 90vh;
    border-bottom: 3px solid rgb(190, 49, 68); 

}
#contact h1{
    font-size: 50px;
    color: white;
    margin-bottom: 0;
   justify-self: center;
}
#contact h2{font-size: 30px;
color: white;
margin-top: 0;}
#contact ul{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    
   
    
    
}
#contact li{
    list-style-type: none;
}
#contact a{
    color: white;
    font-size: 40px;
    padding: 10px;
    text-decoration: none;
}
footer{
    background-color:rgb(48, 56, 65); ;
    width: 100vw;
    text-align: center;
   
}
@media (max-width:768px) {
img{width:280px;
height: 250px;}
.project-tile{width: 280px;
}
#navbar a{
    font-size: 1rem;
}
#projects h1{
    font-size: 1.6rem;

}
#contact h1{
    font-size: 1.5rem;
}
#contact h2{
    font-size: 1rem;
}
#contact a{
    font-size: 1rem;
   
}
#contact li{
    padding: 0.7rem;
}
#welcome-section h1{
    font-size: 3.2rem;
}
}
