*{
    box-sizing: border-box;
}html{
    scroll-behavior: smooth;
}
body{
    padding-top: 70px;
    background-color: black;
}
.wrapper{
    width: 1800px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
background-color: black;
position: fixed;
top: 0;
width: 100%;
overflow: hidden;
z-index: 1;

}
ul{
    display: inline-block
    
    


}
li{
    list-style-type: none;
    display: inline;

}
.navbar a{
    text-decoration: none;
    font-size: 40px;
    padding: 20px 20px 2px 20px;
    color: rgb(252, 245, 245);
    margin: 0 auto;

}
a:hover{
    font-weight: bold;
    font-style: oblique;
}
#home{
    background-image: url(/img/background-balance-business-commerce-583846.jpg);
    height: 800px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  
  
  
}
.contenthome{
    justify-content: center;
    padding: 200px 0 0 100px;
    
    
    
    overflow: hidden;
    
    
}
.contenthome h1{
font-size: 100px;
font-weight: bold;
color: rgb(7, 7, 7);
text-decoration:underline;
-webkit-animation: fadein 2s;
font-family: 'Oleo Script', cursive;;

justify-content: center;




}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.navbar h1{
    font-family:'Bungee Shade', cursive;
    font-size: 55px;
    font-weight: bolder;
    font-stretch: extra-expanded;
    margin: 0px 2px 0 2px;
    color: rgb(236, 92, 9);
}
#about{
    background-color:#0b0b16;
    height: 800px;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

}
.text{
    flex: 50%;
    justify-content: start;
    margin-top: 200px;


}
.text li{
    font-size: 5rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: white 2px solid;
    -webkit-animation: fadein 2s;
}
.data{
    display: flex;
    flex-flow: column;
    flex: 50%;
}
.skills{
    flex: 50%;
    display: flexbox;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 220px;
    
}
.gridcont{
   display: flex;
   justify-content: center;
   flex: 50%;
   
   
}
.skills h1{
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-animation: fadein 2s;
    
    
    

}
.img{
    -webkit-animation: fadein 2s;
}
@media (max-width:640px) {
    .wrapper{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .navbar h1{
        width: 40%;
        font-size: 8vw;
    }
    .navbar ul{
        width: 60%;
    }
    #home{
        width: 100%;

    }
    .contenthome h1{
        width: 100%;
        font-size: 13vw;
    }
    #about{
        width: 100%;
    }
    .data li{
        font-size: 6vw;
    }
    .data{
        width: 60%;
    }
    .skills{
        width: 40%;

    }
    .gridcont{
        width: 40%;
    }
    .img{
        width: 100%;
    }
    


}