*{
    box-sizing: border-box;
}html{
    scroll-behavior: smooth;
    font-size: calc(1em+1vw);
}
body{
    padding-top: 30px;
    background-color: black;
    width: 100%;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
background-color: black;
position: fixed;
top: 0;
width: 100%;
overflow: hidden;
z-index: 1;

}
ul{
    display: inline-block;
    
    
    


}
li{
    list-style-type: none;
    display: inline;

}
.navbar a{
    text-decoration: none;
    font-size: 2vw;
    padding: 20px 20px 2px 20px;
    color: rgb(252, 245, 245);
    margin: 0 auto;

}
a:hover{
    font-weight: bold;
    font-style: oblique;
}
.parallax_img{
    background-image: url(/img/background-balance-business-commerce-583846.jpg);
    width: 100%;
    height: 800px;
	
	
	
	background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    
    
}


  
  
  
  



.contenthome{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    

    
    
    
    
    
    
}
.contenthome h1{
font-size: 6vw;
font-weight: bold;
color: rgb(7, 7, 7);
text-decoration:underline;
-webkit-animation: fadein 2s;
font-family: 'Oleo Script', cursive;;
padding: 0 0 0 35px;
margin: 0;

justify-content: flex-end;




}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.navbar h1{
    font-family:'Bungee Shade', cursive;
    font-size: 3vw;
    font-weight: bolder;

    margin: 0px 2px 0 2px;
    color: rgb(236, 92, 9);
    
    padding-left: 28px;
}
#about{
    background-color:#0b0b16;
    
    width: 100%;
    
  margin-top: 20px;
  display: flex;
  flex-flow: row ;
  justify-content: space-evenly;

}
.text{
    flex: 60%;
    padding-top: 2em;
    
    
    
    


}

.text li{
    font-size: 5vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: white 2px solid;
    display: block;
    
   
}
.skills{
    flex: 30%;
    justify-content: flex-end;
    padding-left:6em;
    
    
    
    
 
}


.skills h1{
    color: white;
    font-size: 4vw;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
    

}
@media (max-width=640px;) {
    .wrapper{
        width: 100%;
    }
    .parallax_img{
        width: 100%;
    }
    #about{
        width: 100%;
    }
}




   

